<div class="text-center my-contact">
    <a href="https://hao45e.github.io" target="_blank" title="Home">
        <i class="fas fa-home"></i>
    </a>
    <a href="https://github.com/hao45e" target="_blank" title="GitHub">
        <i class="fab fa-github"></i>
    </a>
    <a href="https://hao45e.github.io/blog/" target="_blank" title="Blog">
        <i class="fas fa-blog"></i>
    </a>
    <a href="https://wpa.qq.com/msgrd?v=3&uin=1220202232&site=qq&menu=yes" target="_blank" title="QQ">
        <i class="fab fa-qq"></i>
    </a>
    <a href="javascript:void(0);" title="Telegram">
        <i class="fab fa-telegram"></i>
    </a>
</div>