<div class="off-canvas position-left reveal-for-large" id="my-info" data-off-canvas data-position="left">
    <div class="row column my-navigation">
        <div style="width: 80%; height: 0px; margin: 0 auto; padding-bottom: 100%; position:relative;">
            {% avatar {{ site.data.info.github.username }} size=460 %}
            <script>
                var avatar = document.getElementsByClassName("avatar")[0];
                avatar.classList.add("thumbnail");
                avatar.style.borderRadius="50%";
                avatar.style.position="absolute";
                avatar.style.width="100%";
                avatar.style.height="80%";
            </script>
        </div>
        <div>
            <h5 class="text-center">{{ site.data.info.nickname }}</h5>
        </div>
        <div>
            <nav style="margin-top: 7vh;">
                {% for item in site.data.navigation %}
                <li class="text-center my-navigation-li {% if page.pageType == item.pageType %}my-navigation-selected{% endif %}">
                    <a href="{{ site.baseurl }}{{ item.link }}" style="display: block;">
                        {{ item.name }}
                    </a>
                </li>
                {% endfor %}
            </nav>
        </div>
        <div style="margin-top: 28vh;">
            <div>
                <h6 class="text-center gary">{{ site.data.info.signature }}</h6>
            </div>
            {% include contact.html %}
        </div>
    </div>
</div>