li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}
.gary {
    color: gray;
}
.off-canvas, .off-canvas-content {
    background: none !important;
}
.my-background-image {
    background-size: 100% 100%;
    opacity: 0.5;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.my-navigation {
    width: 80%;
    min-height: 90vh;
    margin: 10%;
    padding: 5%;
    background-color:rgba(0,0,0,0.1);
    border-radius: 25px;
}
.my-content {
    min-height: 90vh;
    margin: 2%;
    padding: 3%;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
}
.my-navigation-li {
    margin-top: 2vh;
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgba(0, 0, 0, 0.2);
    border-radius: 25px;
}
.my-navigation-li a {
    font-size: larger;
    color: #fff;
}
.my-navigation-li:hover {
    background-color:rgba(0,0,0,0.35);
}
.my-navigation-selected {
    background-color:rgba(0,0,0,0.5);
}
.my-contact a {
    font-size: 18px;
    color: gray;
    margin-left: 3px;
    margin-right: 3px;
}
.my-contact a:hover {
    color: black;
}
.my-categories {
    margin: 10%;
    padding: 10%;
    border-radius: 15px;
    background-color:rgba(0,0,0,0.15);
    text-align: center;
    color: #656565;
}
.my-to-top-button {
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: #00ccff;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    cursor: pointer;
}
