<!DOCTYPE html>
<html class="no-js" lang="zh-cn">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ page.title }}｜{{ site.data.info.nickname }}的博客</title>
        <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/styles.css">
    </head>
    <body>
        <div class="my-background-image" style="background: url({{ site.baseurl }}/assets/images/background/bgimg.png);"></div>
        <div class="off-canvas-wrapper">
            <div class="off-canvas-wrapper-inner" data-off-canvas-wrapper>

                {% include navigation.html %}
          
                <div class="off-canvas-content" data-off-canvas-content>
                    <div class="my-content">
                        <div class="title-bar hide-for-large">
                            <div class="title-bar-left">
                                <button class="menu-icon" type="button" data-open="my-info"></button>
                                <span class="title-bar-title">{{ page.title }}</span>
                            </div>
                        </div>
                        <div class="row small-up-2 medium-up-3 large-up-4">
                            {{ content }}
                        </div>
                    </div>
          
                </div>
            </div>
        </div>

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.4.3/js/foundation.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/motion-ui/1.2.3/motion-ui.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>
        <script>
            $(document).foundation();
            $("#my-info").mCustomScrollbar({
                theme:"minimal-dark"
            });
        </script>
    </body>
</html>